:root {
  --backcolor: #0D0E11;
  --maincolor: #16181D;
  --terciarycolor: #292C34;
  --brandcolor: rgb(150, 0, 196);
  --botaocor: black;
  /*txt*/
  --txtprimary: #878EA1;
  --txtseconday: #C0C4CE;
  --txt-terciary: #E2E4E9;

  /*fontes*/
  font-family: "Archivo", sans-serif;
  --h1: 800;
  --h2: ;


  background-color: var(--backcolor);
}

body, .container, .main, h1, h2, h3, p, #initial {
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.light {
  --backcolor: #F6F7FB;       
  --maincolor: #FFFFFF;     
  --terciarycolor: #E9ECF5;
  --brandcolor: #6D28D9; 
  --botaocor: #FFFFFF;      

  /* textos */
  --txtprimary: #4B5563;
  --txtseconday: #374151;
  --txt-terciary: #111827;

  background-color: var(--backcolor);
}

#theme-toggle {
position: fixed; 
  top: 20px;
  right: 20px;
  width: 48px;          
  height: 48px;         
  border-radius: 50%; 
  background-color: white;
  display: flex;        
  align-items: center;  
  justify-content: center;
  cursor: pointer;
  font-size: 30px;  
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

#theme-toggle {
  transition: background-color 0.4s ease, color 0.4s ease;
}

#theme-toggle:hover{
  background-color: rgb(186, 186, 186);
}




p {
  color: var(--txtseconday);
  font-size: large;
}

h1 {
  text-shadow: 5px 5px 15px black;
  color: var(--txt-terciary);
  font-weight: var(--h1);
}

.butao {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size:20px;
    background-color: var(--txt-terciary);
    color: var(--botaocor);
    transition: background-color 0.4s ease, box-shadow 0.3s ease, color 0.3s ease;
  }

  .butao:hover {
    background-color: var(--brandcolor);
    box-shadow: 0px 10px 10px rgb(0, 0, 0);
  }